<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
</head>

<body>
    <div class="container">

        <div class="text-center">
            <h1>Please add your upcoming events here</h1>
        </div>

        <div>
            <!--<h2>Latest Notes</h2>-->

            <div class="container">
                <!--Filter notes list by member name-->
                <form class="jumbotron container" action="/" method="post">
                    Event name:
                    <input class="form-control" type="text" name="name">
                    <br> Location:
                    <input class="form-control" type="text" name="location">
                    <br> Start Date
                    <input class="form-control" type="datetime-local" name="stDate">
                    <br> End Date
                    <input class="form-control" type="datetime-local" name="endDate">
                    <br>
                    <input class="btn btn-primary" type="submit" value="Add Event">
                </form>
            </div>
            <br />

            <div class="text-center">
                <p class="lead">This is a list of the upcoming events </p>
            </div>

            <div class="container">
                <div class="col-md-12 column list-group">
                    {% for event in eventsToShow %}
                    <form action="/delete" method="post">
                        <div class="list-group-item">
                            <div>
                                <strong>Event Name:</strong> {{ event.name }}</div>
                            <div>
                                <strong>Location:</strong> {{ event.location }}</div>
                            <div>
                                <strong>Start Date:</strong> {{ event.stDate | safe }}</div>
                            <div>
                                <strong>EndDate:</strong> {{ event.endDate | safe }}</div>
                            <td>
                                <!-- <button id="edit" name="_id" value="{{event._id | safe}}" class="btn btn-primary" type="submit">Edit</button> -->
                            </td>
                            <td>
                                <button id="delete" name="_id" value="{{event._id | safe}}" class="btn btn-primary" type="submit">Delete</button>
                            </td>
                        </div>
                    </form>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    <!-- /.container -->
</body>

</html>